# this is .env file like for now
# Later i will use docker env variable


# Flask application related
APP_HOST=0.0.0.0
APP_PORT=9999
APP_DEBUG=True
APP_SECRET_KEY=RanaUniverse



# Logging Related Things
ENABLE_CONSOLE_LOGGING=True
ENABLE_FILE_LOGGING=True
LOG_FILE_NAME=web_app.log


#Database url
# if i will want to use postgres i will use true else
# if i want to use sqlite i will use false
USE_POSTGRES=True

DATABASE_URL = "postgresql+psycopg2://username:password@localhost:5432/db_name"