# this is .env file like for now
# Later i will use docker env variable


# Flask application related
APP_HOST=0.0.0.0
APP_PORT=9999
APP_DEBUG=True
APP_SECRET_KEY=RanaUniverse



# Logging Related Things
ENABLE_CONSOLE_LOGGING=True
ENABLE_FILE_LOGGING=True
LOG_FILE_NAME=web_app.log


#Database url
# if i will want to use postgres i will use true else
# if i want to use sqlite i will use false
USE_POSTGRES=True



# if i will use postgres=true then below will calculated there 
# in my settings model else this will not use
DB_USERNAME=rana
DB_PASSWORD=abc
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wish_db

# Below is how the url will looks like it will build in my code
NO_NEED_POSTGRES_DATABASE_URL=postgresql+psycopg2://username:password@localhost:5432/db_name

