# .env.webapp 
# This i write mainly for my core application's environment variables

# Flask application related
APP_HOST=0.0.0.0
APP_PORT=9999
APP_DEBUG=True
APP_SECRET_KEY=RanaUniverse



# Logging Related Things
ENABLE_CONSOLE_LOGGING=True
ENABLE_FILE_LOGGING=True
LOG_FILE_NAME=web_app.log

