# .env
# This value will be read by the compose file for build in the compose.yaml file
# it will not read by the container's key value inside the containers
# This will also be used in my python container to get the values



# if i will use postgres=true then below will calculated there 
# in my settings model else this will not use
DB_USERNAME=rana
DB_PASSWORD=mypassword
DB_HOST=database
# This upper database value comes by the docker compose service name 
DB_PORT=5432
DB_NAME=wish_db

# Below is how the url will looks like it will build in my code
# below is just a demo to check only
NO_NEED_POSTGRES_DATABASE_URL=postgresql+psycopg2://username:password@localhost:5432/db_name

