{#
blueprints/auth/templates/auth/checking.html
I am just for now keep this here to know why this is the problem here.
why genral's route's render template taking this file
in this file i will try to just have check some basic things here
on how my some logics or bootstrap will Working
#}

{% extends 'base_file.html' %}

{% block my_title %}
Learning Page in Development
{% endblock %}

{% block my_content %}

<h1>This is in the auth folder</h1>

<h1>This is the Learning & Checking Page</h1>
{% endblock %}