{#
This is the file to shows the login page to the user
blueprints/auth/templates/auth/login_page.html
form = loginform i will pass here
focus_password
I use this to focus on password or username field
#}

{% extends 'base_file.html' %}

{% block my_title %}
Let's Login Your Account
{% endblock %}

{% block my_content %}




<div class="
container
border border-5 border-info
w-50
">
    <form action="" method="post">

        {{ form.hidden_tag() }}

        <h1 class="h3 mb-5 fw-bold text-center">👇 Please sign in 👇</h1>

        <div class="m-3 form-floating">

            {% if focus_password %}
            {{ form.username(class="form-control w-50") }}
            {% else %}
            {{ form.username(class="form-control w-50", autofocus=True) }}
            {% endif %}

            {{ form.username.label() }}
        </div>

        <div class="m-3 form-floating">

            {% if focus_password %}
            {{ form.password(class="form-control w-50", autofocus=True) }}
            {% else %}
            {{ form.password(class="form-control w-50") }}
            {% endif %}

            {{ form.password.label() }}
        </div>

        <!-- {{ form.submit() }} -->
        <div class="m-3">
            <button class="btn btn-primary w-50 py-2" type="submit">Log in</button>
        </div>


    </form>
</div>
















{% endblock %}