{#
This is the file to shows the login page to the user
blueprints/auth/templates/auth/login_page.html
form = loginform i will pass here
focus_password
I use this to focus on password or username field
#}

{% extends 'base_file.html' %}

{% block my_title %}
Let's Login Your Account
{% endblock %}

{% block my_content %}
<div class="
container
">
    <div class="row justify-content-center">

        <div class="col-12 col-sm-10 col-md-6 col-lg-4
                    border border-3 border-info rounded
                    p-4 mt-4">


            <form action="" method="post">

                {{ form.hidden_tag() }}

                <h1 class="h3 mb-5 fw-bold text-center">👇 Please sign in 👇</h1>

                <div class="mb-3 form-floating">
                    {% if focus_password %}
                    {{ form.username(class="form-control") }}
                    {% else %}
                    {{ form.username(class="form-control", autofocus=True) }}
                    {% endif %}

                    {{ form.username.label() }}
                </div>



                <div class="input-group mb-3">
                    <div class="form-floating">

                        {% if focus_password %}
                        {{ form.password(class="form-control", autofocus=True) }}
                        {% else %}
                        {{ form.password(class="form-control") }}
                        {% endif %}

                        {{ form.password.label() }}
                    </div>
                    <button type="button" class="input-group-text btn border btn-outline-primary"
                        onclick="PassShowHideFun()">
                        <i id="eyeIcon" class="bi bi-eye"></i>
                    </button>
                </div>




                {#
                this button is like a input>type=submit, so i was not get the idea of what i will use
                {{ form.submit() }}
                #}

                <button class="btn btn-primary w-100 py-2" type="submit">
                    Log in
                </button>


                <div class="mt-4 text-center">
                    <span class="text-muted">
                        Don't Have Any Account?
                    </span>
                    <a href="{{ url_for('auth_bp.register') }}">
                        Register Here
                    </a>
                </div>


            </form>
        </div>
    </div>

</div>
{% endblock %}


{% block custom_script %}
<script>
    function PassShowHideFun() {
        var x = document.getElementById("password")
        var icon = document.getElementById("eyeIcon")
        if (x.type === "password") {
            x.type = "text"
            icon.className = "bi bi-eye-slash"
        } else {
            x.type = "password"
            icon.className = "bi bi-eye"
        }
    }
</script>
{% endblock %}