{#
This is the file here i will shows the register page to the user
blueprints/auth/templates/auth/register_page.html
#}

{% extends 'base_file.html' %}

{% block my_title %}
Register For a new Account
{% endblock %}


{% block my_content %}
<h1 class="m-4 text-center">Register Your new account here</h1>
<hr class="border-5 border-danger">


<form action="" method="post">

    {{ form.hidden_tag() }}

    <div class="mb-2">
        {{ form.first_name.label(class="form-label fw-bold") }}
        {{ form.first_name(class="form-control w-50") }}
    </div>

    <div class="mb-2">
        {{ form.last_name.label(class="form-label fw-bold") }}
        {{ form.last_name(class="form-control w-50") }}
    </div>

    <div class="mb-2">
        {{ form.phone_no.label(class="form-label fw-bold") }}
        {{ form.phone_no(class="form-control w-50") }}
    </div>

    <div class="mb-2">
        {{ form.username.label(class="form-label fw-bold") }}
        {{ form.username(class="form-control w-50") }}
    </div>

    <div class="mb-2">
        {{ form.password.label(class="form-label fw-bold") }}
        {{ form.password(class="form-control w-50") }}
    </div>

    {{ form.submit() }}

</form>





{% endblock %}