{#
This is the file here i will shows the register page to the user
blueprints/auth/templates/auth/register_page.html
#}

{% extends 'base_file.html' %}

{% block my_title %}
Register For a new Account
{% endblock %}


{% block my_content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4
        border border-3 rounded border-info">
            <form action="" method="post">

                {{ form.hidden_tag() }}

                <h1 class="h5 mb-5 fw-bold text-center">
                    👇 Please Enter Your Details 👇
                </h1>

                <div class="mb-3 form-floating">
                    {{form.first_name(class="form-control")}}
                    {{form.first_name.label()}}
                </div>

                <div class="mb-3 form-floating">
                    {{form.last_name(class="form-control")}}
                    {{form.last_name.label()}}
                </div>

                <div class="mb-3 form-floating">
                    {{form.phone_no(class="form-control")}}
                    {{form.phone_no.label()}}
                </div>

                <div class="mb-3 form-floating">
                    {{form.username(class="form-control")}}
                    {{form.username.label()}}
                </div>

                <div class="input-group mb-3">
                    <div class="form-floating">
                        {{ form.password(class="form-control") }}
                        {{ form.password.label() }}
                    </div>
                    <button type="button" class="input-group-text btn border btn-outline-primary"
                        onclick="PassShowHideFun()">
                        <i id="eyeIcon" class="bi bi-eye"></i>
                    </button>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">
                    Register Your Account
                </button>

                <button class="btn btn-secondary center w-50 my-1" type="reset">
                    Refill The Form
                </button>

                <div class="mt-4 text-center">
                    <span class="text-muted">
                        Already Have an Account?
                    </span>
                    <a href="{{url_for('auth_bp.login')}}">
                        Login Here
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_script %}
<script src="{{url_for('static', filename='js/password_show_hide.js')}}">
</script>
{% endblock %}