{#
this is
blueprints/auth/templates/auth/profile_page.html
here i will writ the logic for the shows information for the
current_user who has login here.
#}


{% extends 'base_file.html' %}

{% block my_title %}
Your Profile will Shows here
{% endblock %}


{% block my_content %}


<div class="card-header bg-info text-white text-center">
    <h1 class="mb-0">👤 Your Profile</h1>
</div>

<div class="container text-center py-1">
    <div type="'button" class="btn btn-warning">
        <a href="{{url_for('auth_bp.logout')}}">Logout Here</a>
    </div>
</div>



<ul>
    <li><strong>Username:</strong> {{ current_user.username }}</li>
    <li><strong>First Name:</strong> {{ current_user.first_name }}</li>

    {% if current_user.last_name %}
    <li><strong>Last Name:</strong> {{ current_user.last_name }}</li>
    {% endif %}

    {% if current_user.phone_no %}
    <li><strong>Phone:</strong> {{ current_user.phone_no }}</li>
    {% else %}
    <li><strong>Phone:</strong> Not Provided Yet</li>
    {% endif %}


    <div class="card-header bg-warning text-white text-center">
        📌 Wishlists coming soon... (See in Dropdown)
    </div>

</ul>


{% endblock %}